# Build directories
build/
out/
bin/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeUserPresets.json
install_manifest.txt
CPack*.cmake
CTest*.cmake
_deps/
compile_commands.json

# SFML specific CMake artifacts
SFMLConfig.cmake
SFMLConfigVersion.cmake
SFML*Dependencies.cmake

# IDE and Editor files
.vscode/
.vs/
.idea/
*.swp
*.suo
.DS_Store

# Compiled Object files / Binaries
*.obj
*.exe
*.o
*.a
*.so
*.dylib
*.dll

.clangd
Makefile
